<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <ConnectionString value = "server=192.168.1.111;database=Cardiology;uid=test;pwd=test" > 
    </ConnectionString> 
    <SoftNode   ID = "CIS09"  Name ="9号导管室" >
    </SoftNode>
    <RemoteSharePath   RemoteServer= "d:\DSA\" LoginUser ="zstu1003" LoginPassword="Jtsghrz1003"> 
    </RemoteSharePath>
</configuration>
