<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <ConnectionString value = "server=.;database=Cardiology;uid=sa;pwd=123456;max pool size=300;Min Pool Size=5;Pooling=true" > 
    </ConnectionString> 
    <SoftNode   ID = "CIS03"  Name ="3号导管室" >
    </SoftNode>
    <RemoteSharePath   RemoteServer= "d:\DSA\" LoginUser ="zstu1003" LoginPassword="Jtsghrz1003"> 
    </RemoteSharePath>
</configuration>
