<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppName" value="中诺导管室信息管理系统" />
    <add key="ConnectionString" value="server=122.112.236.231;database=Cardiology;uid=car;pwd=car" />
    <add key="1ConnectionString" value="server=.;database=Cardiology;uid=sa;pwd=pacs" />
  </appSettings>
</configuration>